.rform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userTicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input,
  select,
  textarea {
    margin: 5px;
  }

  button {
    margin: 20px;
    padding: 5px;
  }
}

form input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea {
  min-width: 100px;
  max-width: 350px;
  max-height: 300px;
}
