div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    display: block;
  }
  img {
    padding: 20px;
  }
  a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}
