.notes__new {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 20px;
  p {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
  }
  button {
    display: flex;
    justify-content: flex-end;
  }
  .notes__new--inputs {
    margin: 10px;
    button {
      margin: auto;
    }
    input {
      margin: 0 0 10px 0;
      border-radius: 5px;
    }
  }
}

.notes__actions {
  display: flex;
  justify-content: center;
  align-items: baseline;
  button {
    margin: 10px;
  }
}

.notes__filter {
  display: flex;
  justify-content: center;
}

.notes__main {
  display: flex;
  flex-wrap: wrap;

  .notes {
    border: 1px solid #d1d1d1;
    width: 300px;
    margin: 5px;
    height: 100%;
  }
}

@media (max-width: 940px) {
  .notes__main {
    justify-content: center;
  }
}
