<div class="notes__new">
  <div class="notes__new--inputs">
    <div>
      <mat-form-field>
        <mat-label>New Note Title</mat-label>
        <input
          matInput
          name="title"
          type="text"
          (keyup.enter)="addNewNote()"
          (input)="evaluateInput()"
          #titleInputValue
      /></mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Text</mat-label>
        <textarea
          matInput
          name="text"
          type="text"
          [(ngModel)]="textInputValue"
          (keyup.enter)="addNewNote()"
          (input)="evaluateInput()"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!inputContainsSomething"
      (click)="addNewNote()"
    >
      Add new note
    </button>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
<div class="notes__actions">
  <button mat-raised-button color="primary" (click)="postNotes()">
    Save Notes
  </button>
  <button mat-raised-button color="primary" (click)="fetchNotes()">
    Fetch Notes
  </button>
</div>
<div class="notes__filter">
  <mat-form-field>
    <mat-label for="filter">Filter notes</mat-label
    ><input matInput name="filter" type="text" [(ngModel)]="filteredStatus" />
  </mat-form-field>
</div>
<div class="notes__main" *ngIf="!(notes[0] === undefined); else nothingToShow">
  <div
    *ngFor="
      let singleNote of notes | filter : this.filteredStatus : 'title';
      let indexSingleNote = index
    "
    class="notes"
  >
    <app-note
      [note]="singleNote"
      (deleteNote)="onDeleteSingleNote($event)"
      [index]="indexSingleNote + 1"
    >
    </app-note>
  </div>
</div>
<ng-template #nothingToShow>
  <p>We have nothing to show. Add a note to proceed</p></ng-template
>
<app-clock></app-clock>
