.home__container {
  display: flex;
  flex-direction: column;

  .home__container--loginout {
    align-self: flex-end;
    justify-self: flex-end;

    a,
    button {
      margin: 20px;
    }
  }
  .home__container--status {
    text-align: center;
    margin: 20px;
  }

  .home__nav {
    display: flex;
    height: 50px;
    cursor: pointer;
    justify-content: space-evenly;
  }

  .hidden {
    display: none;
  }
}

.invitation {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  .home__container {
    .home__nav {
      a:nth-child(even) {
        display: none;
        background-color: red;
      }
    }
  }
}
