<div class="home__container">
  <div class="home__container--loginout" *ngIf="isLoggedInFn">
    <button mat-raised-button color="warn" (click)="LogOut()" type="button">
      Log out
    </button>
  </div>
  <div class="home__container--loginout" *ngIf="!isLoggedInFn">
    <a mat-raised-button color="primary" [routerLink]="['/login']">Log In</a>
  </div>

  <p class="home__container--status" [ngClass]="{ hidden: isLoggedInFn }">
    You are <b>{{ isLoggedInFn ? "" : "NOT" }}</b> logged in
  </p>
  <div class="home__nav">
    <a mat-raised-button [routerLink]="['/allNotes']"
      >Go to your Sticky Notes</a
    >
    <a mat-raised-button [routerLink]="['/contacttd']">Template contact form</a>
    <a mat-raised-button [routerLink]="['/contactr']">Reactive contact form</a>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
<div *ngIf="shouldShowHelloMessage" class="invitation">
  What would you like to do?
</div>
