.home__container {
  display: flex;
  flex-direction: column;

  .home__container--loginout {
    align-self: flex-end;
    justify-self: flex-end;

    a,
    button {
      display: block;
      height: 50px;
      width: 100px;
      margin: 20px;
      background-color: white;
      border-radius: 5px;
      text-decoration: none;
      color: #111213;
      text-align: center;
      line-height: 50px;
    }
  }
  .home__container--status {
    text-align: center;
    margin: 20px;
  }

  .home__nav {
    display: flex;
    height: 50px;
    cursor: pointer;
    justify-content: space-evenly;

    a {
      display: block;
      border-radius: 5px;
      background-color: white;
      padding: 10px;
      text-decoration: none;
      color: #111213;
      margin: auto;
    }
  }

  .hidden {
    display: none;
  }
}

.invitation {
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 550px) {
  .home__container {
    .home__nav {
      a:nth-child(even) {
        display: none;
        background-color: red;
      }
    }
  }
}
