<p>edit-note works!</p>
<div class="input">
  <label for="title">tytuł</label>
  <input
    name="title"
    type="text"
    (keyup.enter)="saveEditedNote()"
    (input)="evaluateInput()"
    [(ngModel)]="singleNote.title"
  />
  <label for="text">tekst</label>
  <input
    name="text"
    type="text"
    [(ngModel)]="singleNote.text"
    (keyup.enter)="saveEditedNote()"
    (input)="evaluateInput()"
  />
  <button [disabled]="!inputContainsSomething" (click)="saveEditedNote()">
    Save note
  </button>
</div>
