<div class="rform">
  <p>This is a form component maked in Reactive approach</p>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div id="userTicker">
      <div formGroupName="userData">
        <mat-form-field>
          <mat-label> Name : </mat-label>
          <input
            matInput
            id="username"
            type="text"
            name="username"
            formControlName="username"
          />
          <mat-error
            *ngIf="
              !signupForm.get('userData.username')?.valid &&
              signupForm.get('userData.username')?.touched
            "
            >Please enter a valid username!</mat-error
          >
        </mat-form-field>
        <mat-radio-group formControlName="gender">
          <mat-radio-button name="gender" value="male" color="primary">
            Male</mat-radio-button
          >
          <mat-radio-button name="gender" value="female" color="primary">
            Female</mat-radio-button
          >
          <br />
        </mat-radio-group>

        <mat-form-field>
          <mat-label> Email :</mat-label>
          <input
            matInput
            id="Email"
            type="text"
            name="email"
            formControlName="emailaa"
          />
          <mat-error
            *ngIf="
              !signupForm.get('email')?.valid &&
              signupForm.get('email')?.touched
            "
            >Please enter a valid email!</mat-error
          >
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label for="marketing"> Do you agree to spam marketing?</mat-label>
        <mat-select id="marketing" name="marketing" formControlName="marketing">
          <mat-option value="yes">Yes</mat-option>
          <mat-option value="ofc">Of course</mat-option>
          <mat-option value="fine">Fine</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="message"> Message :</mat-label>
        <textarea
          matInput
          id="message"
          type="textarea"
          name="message"
          formControlName="message"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10"
        ></textarea>
        <mat-error
          *ngIf="
            !signupForm.get('message')?.valid &&
            signupForm.get('message')?.touched
          "
          >Please enter a valid message!</mat-error
        >
      </mat-form-field>
      <mat-error *ngIf="!signupForm.valid && signupForm.touched"
        >Form is invalid!</mat-error
      >
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!signupForm.valid"
      >
        submit
      </button>
    </div>
  </form>
</div>
