<div class="login__form">
  <p>use email: test@test.pl</p>
  <p>password: password</p>
  <form [formGroup]="loginForm" (ngSubmit)="toggleLoggedIn()">
    <label for="email">email</label
    ><input id="email" name="email" type="text" formControlName="email" />
    <label for="password">password</label
    ><input
      id="password"
      name="password"
      type="text"
      formControlName="password"
      minlenght="6"
    />

    <ng-template appAlertDirective> </ng-template>
    <button (click)="toggleLoggedIn()" type="button">Log In</button>
  </form>
</div>
