.tdform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userTicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;

  input,
  select,
  textarea {
    margin: 5px;
  }

  mat-radio-group {
    margin-bottom: 10px;
  }
}

form input.ng-invalid.ng-touched {
  border: 1px solid red;
}
