<div class="home__container">
  <div class="home__container--loginout" *ngIf="isLoggedIn">
    <button (click)="LogOut()" type="button">Log out</button>
  </div>
  <div class="home__container--loginout" *ngIf="!isLoggedIn">
    <button type="button">
      <a [routerLink]="['/login']">Log In</a>
    </button>
  </div>

  <p class="home__container--status">
    You are <b>{{ isLoggedIn ? "" : "NOT" }} logged in</b>
  </p>
  <div class="home__nav">
    <button><a [routerLink]="['/allNotes']">Go to your notes</a></button>
    <button>
      <a [routerLink]="['/contacttd']">Template-driven contact form</a>
    </button>
    <button><a [routerLink]="['/contactr']">Reactive contact form</a></button>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
