.login__form {
  box-sizing: border-box;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  p {
    text-align: left;
  }

  form {
    display: flex;

    flex-direction: column;

    input {
      margin: 0 0 20px 0;
      border-radius: 5px;
      width: 300px;
      padding: 10px;
    }

    button {
      margin-top: 20px;
      display: block;
      cursor: pointer;
      height: 50px;
    }
  }
}
