<div class="notes__new">
  <div class="notes__new--inputs">
    <div>
      <label for="title">title</label>
      <input
        name="title"
        type="text"
        (keyup.enter)="addNewNote()"
        (input)="evaluateInput()"
        #titleInputValue
      />
    </div>
    <div>
      <label for="text">text</label>
      <input
        name="text"
        type="text"
        [(ngModel)]="textInputValue"
        (keyup.enter)="addNewNote()"
        (input)="evaluateInput()"
      />
    </div>
    <button [disabled]="!inputContainsSomething" (click)="addNewNote()">
      Add new note
    </button>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
<div class="notes__actions">
  <button (click)="postNotes()">Save</button>
  <button (click)="fetchNotes()">Restore</button>
  <label for="filter">Filter notes</label
  ><input name="filter" type="text" [(ngModel)]="filteredStatus" />
</div>
<div class="notes__main" *ngIf="!(notes[0] === undefined); else nothingToShow">
  <div
    *ngFor="
      let singleNote of notes | filter : this.filteredStatus : 'title';
      let i = index
    "
    class="notes"
  >
    <app-note [note]="singleNote" (deleteNote)="onDeleteSingleNote($event)">
    </app-note>
  </div>
</div>
<ng-template #nothingToShow>
  <p>We have nothing to show. Add a note to proceed</p></ng-template
>
<app-clock></app-clock>
