<div class="login__form">
  <p>use email: test@test.pl</p>
  <p>password: password</p>
  <form [formGroup]="loginForm" (ngSubmit)="toggleLoggedIn()">
    <mat-form-field [style.width.px]="250">
      <mat-label for="email">email</mat-label
      ><input
        matInput
        id="email"
        name="email"
        type="text"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field [style.width.px]="250">
      <mat-label for="password">password</mat-label
      ><input
        matInput
        id="password"
        name="password"
        type="password"
        formControlName="password"
        minlenght="6"
      />
    </mat-form-field>

    <ng-template appAlert> </ng-template>
    <button
      mat-raised-button
      color="primary"
      (click)="toggleLoggedIn()"
      type="button"
    >
      Log In
    </button>
  </form>
</div>
