<div class="notes--new">
  <!-- <p>add new note</p> -->
  <div class="notes--inputs">
    <div>
      <label for="title">title</label>
      <input
        name="title"
        type="text"
        (keyup.enter)="addNewNote()"
        (input)="evaluateInput()"
        #titleInputValue
      />
    </div>
    <div>
      <label for="text">text</label>
      <input
        name="text"
        type="text"
        [(ngModel)]="textInputValue"
        (keyup.enter)="addNewNote()"
        (input)="evaluateInput()"
      />
    </div>
    <!-- <input
    type="text"
    (input)="onUpdateInput($event)"
    (keyup.enter)="addNewNote()"
  /> -->
    <button [disabled]="!inputContainsSomething" (click)="addNewNote()">
      Add new note
    </button>
  </div>
  <!-- https://i.pinimg.com/originals/0d/c8/80/0dc8807679a4c53e79ca35c4d5356e94.jpg
 https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1J1cW3h74b_XcC5XqEhUVu0xgdF1_5tJe9Q&usqp=CAU -->
</div>
<hr />
<router-outlet></router-outlet>
<button (click)="postNotes()">Save notes on server</button>
<button (click)="fetchNotes()">Restore notes from server</button>
<label for="filter">Filter notes</label
><input name="filter" type="text" [(ngModel)]="filteredStatus" />
<div *ngIf="!(notes[0] === undefined); else nothingToShow">
  <div
    *ngFor="
      let singleNote of notes | filter : this.filteredStatus : 'title';
      let i = index
    "
    class="notes"
  >
    <app-note [note]="singleNote" (deleteNote)="onDeleteSingleNote($event)">
    </app-note>
  </div>
</div>
<ng-template #nothingToShow>
  <p>We have nothing to show. Add a note to proceed</p></ng-template
>
<app-clock></app-clock>
