<div class="input">
  <label for="title">tytuł</label>
  <input
    name="title"
    type="text"
    (keyup.enter)="addNewNote()"
    (input)="evaluateInput()"
    #titleInputValue
  />
  <label for="text">tekst</label>
  <input
    name="text"
    type="text"
    [(ngModel)]="textInputValue"
    (keyup.enter)="addNewNote()"
    (input)="evaluateInput()"
  />
  <!-- <input
    type="text"
    (input)="onUpdateInput($event)"
    (keyup.enter)="addNewNote()"
  /> -->
  <button [disabled]="!inputContainsSomething" (click)="addNewNote()">
    Add note
  </button>

  <!-- https://i.pinimg.com/originals/0d/c8/80/0dc8807679a4c53e79ca35c4d5356e94.jpg
 https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1J1cW3h74b_XcC5XqEhUVu0xgdF1_5tJe9Q&usqp=CAU -->
</div>
<hr />
<router-outlet></router-outlet>
<div *ngIf="!(notes[0] === undefined); else nothingToShow">
  <div *ngFor="let singleNote of notes; let i = index" class="notes">
    <app-note [note]="singleNote" (deleteNote)="onDeleteSingleNote($event)">
    </app-note>
  </div>
</div>
<ng-template #nothingToShow>
  <p>We have nothing to show. Add a note to proceed</p></ng-template
>
<app-clock></app-clock>
